/* Fullscreen Background */
.login-container {
    position: relative;
    width: 99vw;
    min-height: 80vh;
    display: flex;
    align-items: center;
    justify-content: center;
    padding: 20px;
    margin: 0px 0;
  }
  
  .login-background {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 103%;
    overflow: hidden;
  }
  
  .login-bg-image {
    width: 100%;
    height: 100%;
    object-fit:fill;
  }

  
  /* Centered Login Form */
  .login-form {
    position: absolute;
    width: 100%;
    max-width: 400px;
    background: rgba(255, 255, 255, 0.2); /* Semi-transparent white */
    backdrop-filter: blur(10px); /* Blurred background */
    padding: 2rem;
    border-radius: 10px;
    box-shadow: 0px 4px 10px rgba(0, 0, 0, 0.2);
  }
  
  .login-form h2 {
    font-weight: bold;
    color: #060202;
  }
  
  /* Card Styling */
  .login-form-container {
    background: rgb(52, 65, 50); /* Dark semi-transparent background */
    color: #fff;
    border-radius: 10px;
  }
  
  /* Input Fields */
  .form-control {
    background: rgba(255, 255, 255, 0.8);
    border:#fff;
    border-radius: 5px;
  }
  .login-field{
    padding: 12px 15px;
    border: 1px solid #131111;
    border-radius: 6px;
    font-size: 16px;
    margin-bottom: 15px;
    box-sizing: border-box; 
  }
  
  .login-btn {
      display: flex;
      justify-content: center;
      width: 100%;
      margin-top: 1rem;
      padding: 0 2rem; /* Add equal padding instead of margin-left */
      
  }

.btn-primary {
    width: 50%;
    padding: 12px;
    background-color: #4f46e5;
    color: white;
    border: none;
    border-radius: 6px;
    font-weight: 600;
    cursor: pointer;
    transition: all 0.3s ease;
}

.btn-primary:hover {
    background-color: #4338ca;
    transform: translateY(-2px);
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
}
  
  /* Forgot Password Link */
  .text-center a {
    color: #fff;
    text-decoration: none;
  }
  
  .text-center a:hover {
    text-decoration: underline;
  }
  